[Unit]
Description=Home Automation System
After=network.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory="{{ installation_directory }}"
ExecStart=/usr/bin/python -u "{{ installation_directory }}HomeAutomationAgent.py"
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
